doctype html
html(lang='en')
    head
        meta(charset ='UTF-8')
        meta(name ='author' content ='dorian edwards')
        meta(name ='viewport' content = 'width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap')
        script(src='https://kit.fontawesome.com/388931a27a.js' crossorigin='anonymous' integrity='sha384-tCIa9x35rFwAnPYwDCoqImEiB9Ai31jfzeslK4Q53KZAXSFi24Px912eIpefo9Bj')
        title devDiaries
    body
        section(class='header')
            .container.main_nav
                h1 devDiaries
                .hamburger_wrapper(class='hidden')
                    div
                ul
                    li
                        a(href='/' class='nav_links') Home
                    li
                        a(href='#' class='nav_links') About
                    li
                        a(href='#' class='nav_links') Contact
                    li
                        a(href='/login' class='nav_links') Login

        block content