/*  general styling, resets and variables */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

:root {
  --primary-color: #2e4057;
  --secondary-color: #f6d8ae;
  --light-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font: 1em/1.1 Lato;
}

/***************** Utilities ****************/

.hidden {
  display: none !important;
}

.red_outline {
  border: 1px dashed red !important;
}

.flex {
  display: flex;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.flex10 {
  flex-basis: 10%;
}
.flex20 {
  flex-basis: 20%;
}
.flex30 {
  flex-basis: 30%;
}
.flex40 {
  flex-basis: 40%;
}
.flex50 {
  flex-basis: 50%;
}
.flex60 {
  flex-basis: 60%;
}
.flex70 {
  flex-basis: 70%;
}
.flex80 {
  flex-basis: 80%;
}
.flex90 {
  flex-basis: 90%;
}
.flex100 {
  flex-basis: 100%;
}

.flex25 {
  flex-basis: 25%;
}

.flex75 {
  flex-basis: 75%;
}

.flex33 {
  flex-basis: 33%;
}

.flex66 {
  flex-basis: 66%;
}

.mr20 {
  margin-right: 20px;
}

.container {
  max-width: 980px;
  margin: auto;
}

.ctr {
  display: block;
  text-align: center;
}

/****************** navBar styling ********************/
.header {
  background-color: var(--primary-color);
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
}

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  color: var(--secondary-color);
}

.main_nav ul {
  display: flex;
}

.nav_links {
  margin: 0 10px;
  padding: 5px 0;
}

.nav_links:hover {
  border-bottom: 1px solid var(--secondary-color);
}

h1 {
  margin: 10px 0;
}

/****************** Hamburger Component *****************/
.hamburger_wrapper {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
}

.hamburger_wrapper div {
  width: 25px;
  height: 2px;
  background: #f7f7f7;
  position: relative;
}

.hamburger_wrapper div:before,
.hamburger_wrapper div:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.hamburger_wrapper div:before {
  top: 5px;
}

.hamburger_wrapper div:after {
  bottom: 5px;
}

/**************** landing page styling ***************/

.landing_wrapper {
  height: 100%;
  background: center/cover no-repeat url('../images/journal.jpg');
  justify-content: end;
}

.landing_main {
  width: 50%;
  position: relative;
  justify-content: center;
  align-items: center;
  /* padding: 0 2rem; */
}

.wrapper_backing {
  position: absolute;
  background: #f7f7f7;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.wrapper {
  background: #f7f7f7;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem 1rem 2.5rem 1rem;
  width: 90%;
  max-width: 420px;
  z-index: 1;
}

.home_heading {
  position: relative;
  top: 10px;
  left: 20px;
  background: var(--light-color);
  align-self: start;
  padding: 0 5px;
}

.link_wrapper {
  border: 1px solid var(--primary-color);
  padding: 2rem;
  border-radius: 10px;
}

.home_nav {
  width: 90%;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 5px;
  margin: 10px auto;
  text-transform: uppercase;
}

.home_nav a {
  display: inline-block;
  width: 100%;
  text-align: center;
}

/************ login page **************/

.inpt {
  width: 100%;
  margin: 5px 0;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

/**************** Registration Styling ****************/
.reg {
  flex-direction: column;
  margin-bottom: 10px;
}

.reg .inpt {
  width: 90%;
  margin: 5px auto;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

.reg .lbl {
  position: relative;
  left: 20px;
}

/* Member page styling */
.container.profile {
  padding-top: 5rem;
}

.prfl_pic .img {
  position: relative;
  height: 75px;
  width: 75px;
  background: var(--primary-color);
  border-radius: 100%;
}

.prfl_pic .img:before,
.prfl_pic .img:after {
  content: '';
  position: absolute;
  height: 40px;
  width: 5px;
  background: var(--secondary-color);
  top: 18.75px;
  left: 35.25px;
}

.prfl_pic .img:after {
  transform: rotate(90deg);
}

.prfl_name,
.prfl_about h4 {
  margin-bottom: 5px;
}

.prfl_about {
  line-height: 1.5;
  margin-bottom: 10px;
}

.prfl_border {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 1rem 0.5rem 1rem 1rem;
}

.prfl_pic {
  margin-bottom: 10px;
}

.prfl_panel {
  justify-content: space-around;
}

.prfl_panel button {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.4rem 1.2rem;
  border-radius: 5px;
  text-transform: uppercase;
}

.post {
  background: #f7f7f7;
  padding: 0.75rem;
  border-radius: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
  box-shadow: 10px 5px 2px rgba(46, 64, 87, 0.8);
}

/* .posts {
  overflow: scroll;
  height: 50vh;
  margin-bottom: 10px;
} */
.pst_title {
  position: relative;
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.pst_title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 1px;
  opacity: 0.25;
  background: var(--primary-color);
}

.pst_content {
  margin-bottom: 10px;
}

.pst_time {
  text-align: right;
  font-size: 0.5rem;
  font-weight: 600;
}

textarea.inpt {
  height: 100px;
  resize: none;
}
