extends ../layout

block content

    h1 Home Page
    div
        button
            a(href='/login') Login
    div
        button
            a(href='/register') Register
    div
        button
            a(href='/members') Successful Login
    