extends ../layout

block content
    section.landing_wrapper.flex
        .landing_main.flex
            .wrapper_backing
            .wrapper(class='flex')
                h2.home_heading devDiaries
                .link_wrapper
                    div(class='home_nav')
                        a(href='/login' ) Login
                    div(class='home_nav')
                        a(href='/register' ) Register