extends ../layout

block content

    .container.home
        .landing_wrapper
            h2 devDiaries
            div(class='home_nav')
                a(href='/login' ) Login
            div(class='home_nav')
                a(href='/register' ) Register
    .background_effect