extends ../layout

block content

    .container.home
        .wrapper
            h2 devDiaries
            div
                a(href='/login' class='home_nav') Login
            div
                a(href='/register' class='home_nav') Register