extends ../layout

block content
    //- .container
    //-     .img_wrapper
    //-         img(src="https://source.unsplash.com/featured/?journal", alt="")
    //-     .columns
    //-         .col
    //-         .col

    each author in authors
        div
            
    
