extends ../layout

block content
    h1 TODO members page

    div
        button
            a(href='/authors') Authors
    div
        button
            a(href='/posts') Posts
    div
        button
            a(href='/') Home