extends ../layout
block content
    h1 TODO registration form

    form(action='/register' method='POST')
        div
            label(for='firstName') First Name
            input(type='text' id='firstName' name='firstName' required)
        div
            label(for='lastName') Last Name
            input(type='text' id='lastName' name='lastName' required)
        div
            label(for='email') Email
            input(type='email' id='email' name='email' required)
        div
            label(for='password') Password
            input(type='password' id='password' name='password' required)
        div
            label(for='confirmpass') Confirm Password
            input(type='password' id='confirmpass' name='confirmpass' required)
        button(type='submit') Submit

    div
        button
            a(href='/') Home    