extends ../layout

block content
    section.landing_wrapper.flex
        .landing_main.flex
            .wrapper_backing
            .wrapper.flex
                h2.home_heading Register
                .link_wrapper
                    form(action='/register' method='POST')
                        div.flex.reg
                            label.lbl(for='firstName') First Name
                            input#firstName.inpt(type='text' name='firstName' required)
                        div.flex.reg
                            label.lbl(for='lastName') Last Name
                            input#lastName.inpt(type='text' name='lastName' required)
                        div.flex.reg
                            label.lbl(for='email') Email
                            input#email.inpt(type='email' name='email' required)
                        div.flex.reg
                            label.lbl(for='password') Password
                            input#password.inpt(type='password' name='password' required)
                        div.flex.reg.my-BM
                            label.lbl(for='confirmpass') Confirm Password
                            input#confirmpass.inpt(type='password' name='confirmpass' required)
                        button.home_nav.ctr(type='submit') Submit