extends ../layout

block content
    h2 #{post.title}
    p #{post.content}
    h6 #{post.author.fullName}

    if isOwner
        div
            button
                a(href='/posts/' + post._id + '/edit') Edit
        div
            form(action='/posts/' + post._id +'/delete?_method=DELETE' method='POST')
                button(type='submit') Delete