extends ../layout

block content
    h1 Display All posts

    div
        each post in posts
            a(href='#')
                div
                    h3 #{post.title}
                    p #{post.content}
                    p - #{post.author.fullName}
                    h6 #{post.dateCreated}

    div
        button
            a(href='/members') Members Area

    div
        button
            a(href='/') Home