extends ../layout

block content
    h2 #{post.title}
    p #{post.content}
    h6 #{post.author.fullName}

    if isOwner
        div
            button
                a(href='#') Edit
        div
            form(action='/posts/<tbd>/delete?_method=DELETE' method='POST')
                button(type='submit') Delete