extends ../layout
block content

    h1 #{author.fullName}

    if posts
        each post in posts
            div
                h3 #{post.title}
                p #{post.content}
                p #{post.author.fullName}
    //- needs work
    if owner
        div
            a(href='/posts/' + author._id + '/new')
                button Create Post
        div
            a(href='/authors/' + author._id + '/edit') 
                button Edit
        div
            form(action='/authors/' + author._id + '/delete?_method=DELETE' method='POST')
                button(type='submit') Delete

    div
        a(href='/') 
            button Home
    div
        a(href='/authors') 
            button Back